@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito&family=Quicksand:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: kgcs;
    src: url("/fonts/kgcs.ttf");
}
@font-face {
    font-family: lexreg;
    src: url("/fonts/lexend-reg.ttf");
}
@font-face {
    font-family: lexbold;
    src: url("/fonts/lexend-bold.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main {
    background-image: url("/background.jpg");
    background-position-x: center;
    background-blend-mode: overlay;
    background-color: #212129;
}